[Unit]
Description=evalr IRC bot for ##rust@irc.libera.chat

[Service]
ExecStart=/usr/local/bin/evalr
Restart=always
RestartSec=5s
User=evalr
Group=evalr

[Install]
WantedBy=default.target
